{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-md  navbar-light fixed-top py-4" id="main-nav">
  <div class="container">
    <a class="navbar-brand" href="#home">
      <img src="{% static 'img/hacklogo.png' %}" width="50" height="50" alt="">
      <h3 class="d-inline align-middle">Pink Ribbon</h3>
    </a>
    <button class="navbar-toggler" type="button" name="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-items">
          <a class="nav-link" href="{% url 'index'%}">Home</a>
        </li>

        <li class="nav-items">
          <a  class="btn mt-2 " style="background:#E980B0; color:white;" href="{% url 'userlogin' %}">Doctor Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>






<!-- FILE UPLOAD -->

<section>
  <div class="container p-5">
    <!-- For demo purpose -->
    <div class="row mb-5 text-center text-white">
      <div class="col-lg-10 mx-auto">
        <h1 class="display-4">Detect Breast Cancer using AI</h1>
        <h3>Upload Breast cancer histopathological image</h3>
      </div>
    </div>
    <!-- End -->


    <div class="row">
      <div class="col-lg-5 mx-auto">
      <div class="p-5 bg-white shadow rounded-lg"><img src="{% static 'img/upload.png' %}" alt="" width="400" class="d-block mx-auto mb-4 rounded-pill">


<center>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                <h4>Upload the Image</h4>
                <input type="file" name="imgfile" class="form-control-file" id="exampleFormControlFile1" required>
                <button class="btn my-4" style="background:#E980B0; color:white;" type="submit" name="upload" >Find the result</button>



                <p style="display: {{ prediction.display }};">Prediction: {{ prediction.class }} with confidence: {{ prediction.confidence }}</p>
                
                       
            </div>
        </form>
</center>
   </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"1d5e40dba808e4c7ccf0dc4a7fef53a39","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});

</script>


{% endblock %}
