{% autoescape off %}
{% load static%}
    Dear {{ firstname }} {{ lastname }},

    Greetings from Pink Ribbon - Team .

    Thank You for your newsletter subscription

    To our community,
    October is Breast Cancer Awareness Month, an annual campaign to increase awareness of the disease. Join in the cause to help women in need today.With your support, we can show every woman that her life is important. By working together, we can inspire hope and become a force for good “to get her” access to the care she October is Breast Cancer Awareness Month, an annual campaign to increase awareness of the disease. Join in the cause to help women in need today.With your support, we can show every woman that her life is important. By working together, we can inspire hope and become a force for good “to get her” access to the care she needs.

    Find the Newsletter Here :
    https://drive.google.com/file/d/1wRJDV3q12yLSoaAarMGr87k5C14NP32V/view?usp=sharing

    (If the above mentioned link does not work, please copy/paste it in your Web Browser).

    Best Regards,
    Pink Ribbon - team


{% endautoescape %}
