{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-md  navbar-light fixed-top py-4" id="main-nav">
  <div class="container">
    <a class="navbar-brand" href="#home">
      <img src="{% static 'img/hacklogo.png' %}" width="50" height="50" alt="">
      <h3 class="d-inline align-middle">Pink Ribbon</h3>
    </a>
    <button class="navbar-toggler" type="button" name="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-items">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-items">
          <a  class="btn mt-2 " style="background:#E980B0; color:white;" href="{% url 'userlogin' %}">Doctor Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>



<!-- Showcase -->
<section id="showcase" class="py-5">
  <div class="primary-overlay text-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center">
          <h1 class="display-2 mt-5 pt-5">
            BREAST <br /> CANCER
          </h1>
          <h3 class="mt-5">Breast Cancer Awareness Month 2020</h3>
          </div>
        <div class="col-lg-6">
          <img class="img-fluid d-none d-lg-block" src="{% static 'img/showcaseimg.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Boxes -->
<section id="boxes" class="py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="card text-center border-primary mb-resp">
          <div class="card-body">
            <h3 class="text-black">Live Statistics</h3>
            <p class="text-muted">Show stats about: </p>
            <ul>
              <li>Current year estimates for breast cancer.</li>
              <li>Trends in breast cancer incidence.</li>
              <li>Breast cancer survivors.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center text-white  mb-resp" style="background-color:#E980B0">
          <div class="card-body">
            <h3>Chatbot</h3>
            <p>Chat bot that shows information about symptoms, precautions and provide the details of doctors in the city. Furthermore it can be used to contact with the developers and give feedback.
</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center border-primary mb-resp">
          <div class="card-body">
            <h3 class="text-black">Classifier</h3>
            <p class="text-muted">Divides breast cancer into categories according to different schemes criteria and serving a different purpose.The purpose of classification is to select the best treatment.  </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center text-white" style="background-color:#E980B0">
          <div class="card-body">
            <h3>Newsletter</h3>
            <p>By subscribing to our newsletter user will get monthly update on new things coming in the field of breast cancer.Connect with other cancer patients and caregivers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- About / Why Section -->
<section id="about" class=" py-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="pb-3" style="color:#E980B0">
            Latest News
          </h1>
          <p class="lead pb-3">
            Check out the latest news related to breast cancer from around the world.
          </p>
        </div>

        <!-- Accordion -->
        <div class="" id="accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <div href="#collapse1" data-toggle="collapse" data-parent="#accordian">
                  <i class="fas fa-arrow-circle-down"></i>Get Inspire
                </div>
              </h5>
            </div>
            <div class="collapse show" id="collapse1">
              <div class="card-body">
              With roughly 1 in 8 women developing breast cancer in their lifetime, the odds are high that nearly everyone is affected by this disease in some way.Read some inspiring stories <a href="https://www.healthline.com/health/breast-cancer/best-blogs-of-the-year#1" target="_blank">here.</a>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <div href="#collapse2" data-toggle="collapse" data-parent="#accordian">
                  <i class="fas fa-arrow-circle-down"></i>Gain The Knowledge
                </div>
              </h5>
            </div>
            <div class="collapse" id="collapse2">
              <div class="card-body">
                The Breast Cancer Awareness Month, marked in countries across the world every October, helps to increase attention and support for the awareness, early detection and treatment as well as palliative care of this disease.<br>
                <a href="https://www.who.int/cancer/events/breast_cancer_month/en/" target="_blank">Know more.</a>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <div href="#collapse3" data-toggle="collapse" data-parent="#accordian">
                  <i class="fas fa-arrow-circle-down"></i>Support Groups
                </div>
              </h5>
            </div>
            <div class="collapse" id="collapse3">
              <div class="card-body">
Support groups can be an important resource for people diagnosed with breast cancer. They help increase the support network of the people in the group.<br>
<a href="https://ww5.komen.org/BreastCancer/SupportGroups.html" target="_blank">Join a support group today!</a>

        </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<!-- Authors -->
<section id="authors" class="mx-auto text-center" style="background-color:#E980B0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-white pt-5">
            Meet The Survivors
          </h1>
          <p class="lead text-white" >
            We are currently looking for more breast cancer stories! Please contact us if you are interested in having your story shared.
          </p>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid rounded-circle w-50 mb-3" src="{% static 'img/rebecca.jpg' %}" alt="">
              <h3>Rebecca Seago</h3>
              <h5 class="text-muted">Running Through Breast Cancer</h5>
              <p>In early 2009 as I was doing a self-breast exam, I felt a lump.  I wasn’t too concerned because I knew my mom had had several benign lumps and figured ...</p>
              <div class="d-flex justify-content-center">
                <a href="https://www.sharecancersupport.org/2018/06/rebeccas-story-running-through-breast-cancer/" class="btn" style="background-color:#E980B0">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid rounded-circle w-50 mb-3" src="{% static 'img/mary.jpg' %}" alt="">
              <h3>Mary Vetting</h3>
              <h5 class="text-muted">Stage I Invasive Breast Cancer</h5>
              <p>My name is Mary Vetting, and I am an eight-year breast cancer survivor.

Most people think of breast cancer as an older woman’s disease. It turns out ,however,that breast..</p>
              <div class="d-flex justify-content-center">
                <a href="https://www.sharecancersupport.org/2018/02/mary-stage-i-invasive-breast-cancer/" class="btn" style="background-color:#E980B0">Read More</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid rounded-circle w-50 mb-3" src="{% static 'img/tiana.jpg' %}" alt="">
              <h3>Tiana</h3>
              <h5 class="text-muted">Breast Cancer Is "Our" Story</h5>
              <p>My name is Tiana. I am 34 years old. I am a wife and mother from the San Francisco Bay Area , born and raised in East Palo Alto --  the soul in the Silicon My family and I currently reside in the ...</p>
              <div class="d-flex justify-content-center">
                <a href="https://www.sharecancersupport.org/2016/12/7045/" class="btn" style="background-color:#E980B0">Read More</a>
              </div>
            </div>
          </div>
        </div>








        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <img class="img-fluid rounded-circle w-50 mb-3" src="{% static 'img/mimi.jpg' %}" alt="">
              <h3>MIMI F.</h3>
              <h5 class="text-muted">Being A Lesbian With Breast Cancer</h5>
              <p>In 2006, while in my 20s, I was diagnosed with breast cancer. As many people know first-hand, a cancer diagnosis changes your life overnight. I went from ...</p>
              <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                  <a href="https://www.sharecancersupport.org/2008/07/mimi-being-a-lesbian-with-breast-cancer/" class="btn" style="background-color:#E980B0">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- Contact -->
<!-- Contact -->
<section id="contact" class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">

        <h3>Subscribe to our Newsletter</h3>
        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod!</p>-->
        <form method="POST">
          {% csrf_token %}
          <div class="input-group input-group-lg mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input class="form-control" type="text" name="name" placeholder="Name">
          </div>

          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input class="form-control" type="email" name="email" placeholder="Email">
          </div>


          <input type="submit" name="newsrequest" value="Submit" type="submit" class="btn btn-block btn-lg" style="background-color:#E980B0">


        </form>
      </div>

      <div class="col-lg-3 align-self-center">
        <img src="{% static 'img/hacklogo.png' %}" width="350" height="350" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="main-footer" class="py-5 text-black" style="background-color:#E980B0">
  <div class="container">

        <p class="lead text-center">
          Copyright &copy; <span id="year"></span>
        </p>

  </div>
</footer>
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"1d5e40dba808e4c7ccf0dc4a7fef53a39","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>
{% endblock %}
