{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md  navbar-light fixed-top py-4" id="main-nav">
      <div class="container">
        <a class="navbar-brand" href="#home">
          <img src="{% static 'img/hacklogo.png' %}" width="50" height="50" alt="">
          <h3 class="d-inline align-middle">Mizuxe</h3>
        </a>
        <button class="navbar-toggler" type="button" name="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-items">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>

            <li class="nav-items">
              <a  class="btn mt-2 " style="background:#E980B0; color:white;" href="{% url 'userlogin' %}">Doctor Login</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


<!--form-->
<div class="uk-grid">
  <div class="uk-width-1-2">

    <div class="mt-0 uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
      <div class="uk-width-1-1 mt-0">
        <div class="uk-container mt-0">
          <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
            <div class="uk-width-1-1@m">
              <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                 <ul class="uk-tab uk-flex-center" uk-grid uk-switcher="animation: uk-animation-fade">
                   <li><a href="#">Sign Up</a></li>
                   <li><a href="#">Log In</a></li>
                   <li class="uk-hidden">Forgot Password?</li>
                 </ul>
                 <ul class="uk-switcher uk-margin">
                    <li>
                      <h3 class="uk-card-title uk-text-center">Sign up!</h3>

                      <form name="from1" method="POST" >
                        {% csrf_token %}
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input uk-form-large" name="name" type="text" placeholder="First and last name">
                          </div>
                        </div>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input uk-form-large" name="email" type="text" placeholder="Email address">
                          </div>
                        </div>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input uk-form-large" name="password" type="password" placeholder="Set a password">
                          </div>
                        </div>

                        <div class="uk-margin">
                          <button class="uk-button uk-button-large uk-width-1-1"  name="create" type="submit" style="background-color:#E980B0; color:white;">Create Account</button>
                        </div>


                        <div class="uk-text-small uk-text-center">
                          Already have an account? <a href="#" uk-switcher-item="1">Log in</a>
                        </div>
                      </form>

                    </li>
                    <li>
                      <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
                      <form name="from2" method="POST">
                        {% csrf_token %}
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input uk-form-large" name="email" type="text" placeholder="Email address">
                          </div>
                        </div>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input uk-form-large" name="password" type="password" placeholder="Password">
                          </div>
                        </div>
                      
                        <button class="uk-button uk-button-large uk-width-1-1" name="login" type="submit" style="background-color:#E980B0; color:white;">Login</button>
                        <div class="uk-margin">
                        </div>
                        <div class="uk-text-small uk-text-center">
                          Not registered? <a href="#" uk-switcher-item="0">Create an account</a>
                        </div>
                      </form>
                    </li>

                    <li>
                      <h3 class="uk-card-title uk-text-center">Forgot your password?</h3>
                      <p class="uk-text-center uk-width-medium@s uk-margin-auto">Enter your email address and we will send you a link to reset your password.</p>
                      <form>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input uk-form-large" type="text" placeholder="Email address">
                          </div>
                        </div>
                        <div class="uk-margin">
                          <button class="uk-button uk-button-large uk-width-1-1" style="background-color:#E980B0">Send Email</button>
                        </div>
                        <div class="uk-text-small uk-text-center">
                          <a href="#" uk-switcher-item="1">Back to login</a>
                        </div>
                      </form>
                    </li>
                  </ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    </div>
    <div class="uk-width-1-2">
      <img src="{% static 'img/form_image.jpg'%}" alt="" style="margin-top:7%">
    </div>
  </div>




{% endblock %}
